- if @selling_items
  %nav.bread-crumbs
    - breadcrumb :selling_items
    = breadcrumbs separator: " &#12297; "
- else @sold_items
  %nav.bread-crumbs
    - breadcrumb :sold_items
    = breadcrumbs separator: " &#12297; "
.user-sell-items-page
  .inner-container
    = render partial: "shared/side_bar"
    .sell-list
      .sell-list__title
        出品した商品
      %ul.sell-list__tabs
        = link_to selling_items_users_path, class: "sell-list__tabs__tab", id: "selling-tab" do
          %li
            出品中
        = link_to sold_items_users_path, class: "sell-list__tabs__tab", id: "sold-tab" do
          %li
            売却済み
      %ul#selling-items.sell-list__items
        = render partial: "users/sell_item/items", locals: { items: items }
      %ul#sold-items.sell-list__items
        = render partial: "users/sell_item/items", locals: { items: items }
        