%main.cards-page-new
  .l-container.clearfix
    = render "shared/side_bar" 
    .l-content
      .l-content__head 
        クレジットカード情報入力
      .l-content__card
        .l-content__card__inner
          = form_with(model: @credit_cards,url: pay_credit_cards_path,local: true, method: :post, id: 'charge-form',  html: {name: "inputForm"}) do |f|
            .card-list
              .list__label カード番号
              %span.require 必須
              = f.text_field :credit_card_number, class: 'input-number', placeholder: '半角数字のみ', maxlength: "16"
            .card-list
              .list__label 有効期限
              %span.require 必須
              != sprintf(f.date_select(:expiration_date,with_css_classes:'input-expire', order:[:month,:year], use_month_numbers:true, discard_day:true, start_year:Time.now.year-2000+2000, end_year:Time.now.year-2000+10+2000, date_separator:'%s'),'月') + '年'
            .card-list
              .list__label セキュリティコード
              %span.require 必須
              = f.text_field :cvc, class: 'input-number', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4"
            .card-list#credit_card_token
              = f.submit "追加する", id: 'token_submit', class: "card-list--add-btn"

    = render "shared/sell_button"
    