= render "shared/header"
= render "shared/side_bar"

.l-container.clearfix
  .l-content
    %section
    .l-chapter
      .l-chapter__head 支払い方法
      .l-single-inner
        %section
          .l-single-content
            .l-chapter-sub-head クレジットカード一覧
            .settings-pay-list
            = "**** **** **** " + @default_card_information.last4
            %br
            - exp_month = @default_card_information.exp_month.to_s
            - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
            = exp_month + " / " + exp_year
            = form_tag(delete_credit_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do
              %input{ type: "hidden", name: "card_id", value: "" }
              %button 削除する
        %section
        .settings-pay-about
          = link_to "https://www.mercari.com/jp/help_center/category/6/", class: "settings-pay-about__link" do
            %span 支払い方法について
            %i.fas.fa-angle-right

= render "shared/sell_button"