%main.l-container.clearfix
  .l-content
    .profile
      .profile__head
        プロフィール
      = form_with model: @user, local: true  do |f|
        .setting-profile-icon
          %figure
            %img
          = f.text_field :nickname, class: "input-default",placeholder: current_user.nickname
        .setting-profile-content
          = f.text_area :profile, class: "textarea-default", placeholder: "例）こんにちは！ご覧いただきありがとうございます。気持ちよくお取引出来るよう心がけていますので、よろしくお願いします！！"
          = f.submit "変更する", class: "btn-default btn-red"

  = render "shared/side_bar"
