%nav.bread-crumbs
  - breadcrumb :mypage
  = breadcrumbs separator: " &#12297; "
%main.user-mypage-top
  .l-container.clearfix
    = render "shared/side_bar"
    .l-content
      .mypage-user
        .mypage-user__link
          = link_to  user_path(current_user), class: "user-link" do
            %img.mypage-user__link__icon
            .mypage-user__link__name
              = current_user.nickname
            .mypage-user__link__rating
              .mypage-user__link__rating--left
                評価
                %span.left-count
                  0
              .mypage-user__link__rating--right
                出品数
                %span.right-count
                  = current_user.items.count
      .information
        %ul.information__tabs
          %li.information__tabs__btn.active
            %a
              お知らせ
          %li.information__tabs__btn
            %a
              やることリスト
        .content
          %ul.content__list.active
            - if @notices.present?
              - @notices.each do |notice|
                %li.content__list__news
                  = link_to  notice_path(notice), class: "news-link" do
                    .news-logo
                      = image_tag notice.item.item_images[0].image.to_s, class:'logo-image'
                    .news-body
                      .news-text
                        = notice.content
                      .news-icon-time
                        = icon 'far', 'clock', class: 'icon-time'
                        .notice-date
                          = notice.days_elapsed
                    = icon 'fas', 'angle-right', class: 'icon-arrow-right'
            %li.all-show
              = link_to  "#", class: "all-show-btn" do
                一覧を見る
          %ul.content__list
            - if @todolists.present?
              - @todolists.each do |todolist|
                %li.content__list__news
                  = link_to todolist_path(todolist), class: "news-link" do
                    .news-logo
                      = image_tag todolist.item.item_images[0].image.to_s, class:'logo-image'
                    .news-body
                      .news-text
                        = todolist.content
                      .news-icon-time
                        = icon 'far', 'clock', class: 'icon-time'
                        .notice-date
                          = todolist.days_elapsed
                    = icon 'fas', 'angle-right', class: 'icon-arrow-right'
            %li.all-show
              = link_to  "#", class: "all-show-btn" do
                一覧を見る
      .buy-item
        .buy-item__title
          購入した商品
        %ul.buy-item__tabs
          %li#buying-tab.buy-item__tabs__btn.active-2
            %a.buying-btn
              取引中
          %li#buyed-tab.buy-item__tabs__btn
            %a.buyed-btn
              過去の取引
        .buy-item__content
          %ul#buying-list.buy-item__content__list.active-2
            %li.buy-item__content__list__text
          %ul#buyed-list.buy-item__content__list
            = render 'users/buy_item/list', { buy_items: @purchases }
            %li.all-show
              = link_to  "#", class: "all-show-btn" do
                一覧を見る