.item-purchase-page
  .inner-container
    .title-container
      購入内容の確認
    .item-container
      .item-container__title
        .item-container__title__image
          = image_tag @item.item_images[0].image.to_s
        .item-container__title__name
          = @item.name
      .item-container__price
        .item-container__price__value
          = comma_to_jpy(@item.price)
        .item-container__price__postage
          = @item.postage_set
      .item-container__pay-price
        .item-container__pay-price__title
          支払い金額
        .item-container__pay-price__value
          = comma_to_jpy(@item.price)
    .payment-method-container
      .payment-method-container__title
        支払い方法
      .payment-method-container__value
        = "**** **** **** " + @default_card_information.last4
      .payment-method-container__value
        - exp_month = @default_card_information.exp_month.to_s
        - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
        = exp_month + " / " + exp_year
    .delivery-address-container
      .delivery-address-container__title
        配送先
      .delivery-address-container__value
    .purchase-button
      = link_to "購入する", item_purchases_path, method: :post

