.item-sell-page
  .inner-container
    = form_with url: root_path do |f|
      .title-box
        商品の情報を入力
      .item-image-box
        .item-image-box__title
          出品画像
        .item-image-box__explain
          最大10枚までアップロードできます
        = f.label :image do
          .item-image-box__upload
            %p.item-image-box__upload__message
              ドラッグアンドドロップ
              %br
              またはクリックしてファイルをアップロード
      .item-content-box
        .item-content-box__name-title
          商品名
        .item-content-box__name-input
          = f.text_field :name, class: "", placeholder: "商品名（必須40文字まで）"
        .item-content-box__explain-title
          商品説明
        .item-content-box__explain-input
          = f.text_area :explain, class: "", placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです"
      .item-detail-box
        .item-detail-box__title
          商品の詳細
        .item-detail-box__select
          .item-detail-box__select__category
            .item-detail-box__select__category__title
              カテゴリー
            .item-detail-box__select__category__pulldown
              = f.select :category, [['---', 0], ['sample', 1]]
          .item-detail-box__select__status
            .item-detail-box__select__status__title
              商品の状態
            .item-detail-box__select__status__pulldown
              = f.select :status, [['---', 0], ['sample', 1]]
      .item-delivery-box
        .item-delivery-box__title
          配送について
        .item-delivery-box__select
          .item-delivery-box__select__payer
            .item-delivery-box__select__payer__title
              配送料の負担
            .item-delivery-box__select__payer__pulldown
              = f.select :xxx, [['---', 0], ['sample', 1]]
          .item-delivery-box__select__area
            .item-delivery-box__select__area__title
              発送元の地域
            .item-delivery-box__select__area__pulldown
              = f.select :xxx, [['---', 0], ['sample', 1]]
          .item-delivery-box__select__period
            .item-delivery-box__select__period__title
              発送までの日数
            .item-delivery-box__select__period__pulldown
              = f.select :xxx, [['---', 0], ['sample', 1]]
      .item-price-box
        .item-price-box__title
          販売価格(300〜9,999,999)
        %ul.item-price-box__set
          %li.item-price-box__set__price
            .item-price-box__set__price__title
              価格
            .item-price-box__set__price__value
              ¥
              = f.text_field :price, placeholder: "例）300"
          %li.item-price-box__set__fee
            .item-price-box__set__fee__title
              販売手数料 (10%)
            .item-price-box__set__fee__value
              \-
          %li.item-price-box__set__profit
            .item-price-box__set__profit__title
              販売利益
            .item-price-box__set__profit__value
              \-
      .item-sell-box
        .item-sell-box__sell-button
          = link_to "#" do
            出品する
        .item-sell-box__back-button
          = link_to "#" do
            もどる
