%header.header
  .header__inner
    .header__inner__top
      .header__inner__top__title
        = link_to root_path do
          = image_tag("/logo_image/fmarket_logo_white.svg")
      .header__inner__top__search
        .header__inner__top__search--input
          = form_tag('/items/search', method: :get) do
            %input#item-search{type: "text", placeholder: "何かお探しですか？", name: "keyword"}
        .header__inner__top__search--icon
          = link_to "#" do
            = icon 'fa', 'search', id: "search-icon"
    .header__inner__bottom
      %ul.header__inner__bottom__left
        %li.header__inner__bottom__left--category
          = link_to categories_path, class: "left-links" do
            = icon 'fa', 'list', class: "left-icon"
            カテゴリーから探す
        %li.header__inner__bottom__left--brand
          = link_to "#", class: "left-links" do
            = icon 'fa', 'tags', class: "left-icon"
            ブランドから探す
      - if user_signed_in?
        %ul.header__inner__bottom__right
          %li.header__inner__bottom__right__contents
            = link_to "#", class: "signin-links" do
              = icon 'far', 'heart', class: "signin-icon"
              いいね一覧
          %li.header__inner__bottom__right__contents
            = link_to users_path, class: "signin-links" do
              .cnt-base
                = icon 'far', 'bell', class: "signin-icon"
                - if @notices.count > 0
                  .cnt-base__cnt
                    = @notices.count
              お知らせ
              = render partial: "shared/notice", locals: { notices: @notices }
          %li.header__inner__bottom__right__contents
            = link_to users_path, class: "signin-links" do
              .cnt-base
                = icon 'fas', 'check', class: "signin-icon"
                - if @todolists.count > 0
                  .cnt-base__cnt
                    = @todolists.count
              やることリスト
              = render partial: "shared/todolist", locals: { todolists: @todolists }
          %li.header__inner__bottom__right__contents
            = link_to users_path, class: "signin-links" do
              マイページ
      - else
        %ul.header__inner__bottom__right
          %li.header__inner__bottom__right__signup
            = link_to "新規登録", new_user_registration_path
          %li.header__inner__bottom__right__signin
            = link_to "ログイン", new_user_session_path
  = render "shared/category_bar"
