.item-lists
  .item-lists__head
    .item-lists__head__title
      - if params[:controller] == "home"
        出品一覧
      - else
        = items[0].item_list_title
    - if params[:controller] == "home"
      .item-lists__head__more-link
        = link_to "#" do
          もっと見る
          = icon 'fas', 'angle-right'
  %ul.item-lists__items
    - items.each do |item|
      %li.item-lists__items__item
        = link_to item_path(item), class: "item-link" do
          = image_tag item.item_images[0].image.to_s, class: "item-lists__items__item__image"
          .item-lists__items__item__price
            = comma_to_jpy(item.price)
          .item-lists__items__item__namebox
            .item-lists__items__item__namebox__name
              = item.name
      