- if purchases.present?
  - purchases.each do |purchase|
    %li.mypage-buy-item-box
      = link_to  "#", class: "news-link" do
        .item-photo
          = image_tag purchase.item.item_images[0].image.to_s
        .item-body
          .item-text
            -if purchase.pay_flg == 0
              -if purchase.item.send_flg == 0
                = "「#{purchase.item.name}」 を購入しました。 商品の発送をお待ちください"
              -else
                = "「#{purchase.item.name}」 を購入しました。 商品が発送されました。到着後、出品者の評価をしてください"
            -else
              = "「#{purchase.item.name}」 を購入しました。 取引が完了しました"
        = icon 'fas', 'angle-right', class: 'icon-arrow-right'
- else
  .default-nothing
    該当の商品がありません
    