- buy_items.each do |buy_item|
  %li.item-box
    = link_to  "#", class: "news-link" do
      .item-photo
        = image_tag buy_item.item.item_images[0].image.to_s, class:'item-image'
      .item-body
        .item-text
          -if buy_item.pay_flg == 0
            -if buy_item.item.send_flg == 0
              = "「#{buy_item.item.name}」 を購入しました。 商品の発送をお待ちください"
            -else
              = "「#{buy_item.item.name}」 を購入しました。 商品が発送されました。到着後、出品者の評価をしてください"
          -else
            = "「#{buy_item.item.name}」 を購入しました。 取引が完了しました"
      = icon 'fas', 'angle-right', class: 'icon-arrow-right'