.todolist-show-page
  .todolist-inner
    .todolist-left-content
      = render partial: "item_info", locals: { item: @item, buyer: @buyer }
    .todolist-right-content
      .item-view
        .item-view__title
          取引画面
        - if @todolist.todo_no == 1
          - if @todolist.status == 0
            .item-view__message
              .item-view__message__main
                = icon 'fas', 'truck'
                発送をしてください
              .item-view__message__sub
                商品が購入され支払いされました。商品の発送を行なってください。
            = link_to "商品の発送をしたので、発送を通知する", todolist_path(@todolist), method: :patch, class: "item-view__send-complete-btn"
          - else
            .item-view__message
              .item-view__message__main
                = icon 'fas', 'check'
                商品の発送を通知しました
              .item-view__message__sub
                購入者の受取確認と評価をしばらくお待ちください
        - elsif @todolist.todo_no == 2
          - if @todolist.status == 0
            .item-view__message
              .item-view__message__main
                = icon 'fas', 'laugh'
                受取評価をしてください
              .item-view__message__sub
                商品が発送されました。商品が到着したら、出品者の評価をしてください。
            %label(for="confirmed-item")
              .item-view__confirmed-item
                %input(type="checkbox" name="confirmed-item" id="confirmed-item" value="1")
                商品の中身を確認しました。

            = form_with model: @todolist, local: true do |f|
              .item-view__evaluate
                %ul.evaluate-box
                  %li
                    = f.radio_button :rate, :good
                    = f.label :rate_good do
                      .face-select#laugh-select
                        = icon 'fas', 'laugh', class: "face-select--laugh"
                        .face-select__string
                          良い
                  %li
                    = f.radio_button :rate, :normal
                    = f.label :rate_normal do
                      .face-select#meh-select
                        = icon 'fas', 'meh', class: "face-select--meh"
                        .face-select__string
                          普通
                  %li
                    = f.radio_button :rate, :bad
                    = f.label :rate_bad do
                      .face-select#frown-select
                        = icon 'fas', 'frown', class: "face-select--frown"
                        .face-select__string
                          悪い
                = f.submit "評価を投稿する", disabled: true, class: "rate-post"
          - else
            .item-view__message
              .item-view__message__main
                = icon 'fas', 'check'
                受取評価をしました
              .item-view__message__sub
                取引が完了しました。お疲れ様でした。