%table.item-info
  %tr
    %th.item-info__heading
      出品者
    %td.item-info__data
      = link_to user_path(item.user_id), class: "blue-link" do
        = item.user.nickname
      %br
      = icon 'fas', 'laugh', class: "smile-wink-icon"
      = item.user.rate.good
      = icon 'fas', 'meh', class: "meh-icon"
      = item.user.rate.normal
      = icon 'fas', 'frown', class: "frown-icon"
      = item.user.rate.bad
  %tr
    %th.item-info__heading
      カテゴリー
    %td.item-info__data
      = link_to "#", class: "blue-link" do
        = item.category.parent.parent.name
      %br
      = link_to "#", class: "blue-link" do
        = icon 'fas', 'angle-right'
        = item.category.parent.name
      %br
      = link_to "#", class: "blue-link" do
        = icon 'fas', 'angle-right'
        = item.category.name
  %tr
    %th.item-info__heading
      ブランド
    %td.item-info__data
      
  %tr
    %th.item-info__heading
      商品のサイズ
    %td.item-info__data
      23.5cm
  %tr
    %th.item-info__heading
      商品の状態
    %td.item-info__data
      = item.condition
  %tr
    %th.item-info__heading
      配送料の負担
    %td.item-info__data
      = item.delivery_charge
  %tr
    %th.item-info__heading
      配送の方法
    %td.item-info__data
      = item.delivery_method
  %tr
    %th.item-info__heading
      配送元地域
    %td.item-info__data
      = link_to prefecture_path(item.prefecture_id), class: "blue-link" do
        = item.prefecture.name
  %tr
    %th.item-info__heading
      発送日の目安
    %td.item-info__data
      = item.delivery_period
