.other-item-container__items__item
  = link_to item_path(item), class: "item-link" do
    - if item.status == 1
      .sold-out
        .sold-out__string
          SOLD
    = image_tag item.item_images[0].image.to_s, class: "other-item-container__items__item__image"
    .other-item-container__items__item__explain
      .other-item-container__items__item__explain__title
        = item.name
      .other-item-container__items__item__explain__bottom
        .other-item-container__items__item__explain__bottom__price
          = comma_to_jpy(item.price)
        .other-item-container__items__item__explain__bottom__likes
          = icon 'far', 'heart'
          いいね
  