.item-show-page
  = render 'item', { item: @item }
  = render 'comment'
  .introduction-item-container
    = link_to "#", class: "blue-link" do
      .introduction-item-container__left
        = icon 'fas', 'angle-left'
        左のアイテム
    = link_to "#", class: "blue-link" do
      .introduction-item-container__right
        右のアイテム
        = icon 'fas', 'angle-right'
  .sns-container
    .sns-container__icon
      = link_to "#" do
        = icon 'fab', 'facebook-square', class: "sns-container__icon--facebook"
      = link_to "#" do
        = icon 'fab', 'twitter-square', class: "sns-container__icon--twitter"
      = link_to "#" do
        = icon 'fab', 'pinterest-square', class: "sns-container__icon--pinterest"
  .other-item-container
    = link_to "#", class:"other-item-container__title blue-link" do
      XXXXさんのその他の商品
    .other-item-container__items
      - 9.times do |i|
        .other-item-container__items__item
          = link_to "#", class: "item-link" do
            = image_tag("/item_image/sample.png", class: "other-item-container__items__item__image")
            .other-item-container__items__item__explain
              .other-item-container__items__item__explain__title
                サンプル商品サンプル商品サンプル商品サンプル商品
              .other-item-container__items__item__explain__bottom
                .other-item-container__items__item__explain__bottom__price
                  ¥8,888
                .other-item-container__items__item__explain__bottom__likes
                  = icon 'far', 'heart'
                  いいね