!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample63b
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if params[:controller] == "home" || params[:controller] == "users" || params[:controller] == "items" && (params[:action] == "show" || params[:action] == "own_show") || params[:controller] == "real_address" || params[:controller] == "send_address" || params[:controller] == "categories" || params[:controller] == "credit_cards" && (params[:action] == "show" || params[:action] == "new")
      = render "shared/header"
      = yield
      = render "shared/sell_button"
      = render "shared/footer"
    - elsif params[:controller] == "signup"
      = render "shared/progress_header"
      = yield
      = render "shared/sub_footer"
    - else
      = render "shared/sub_header"
      = yield
      = render "shared/sub_footer"
